<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>private_cloud_config</key>
	<dict>
		<key>Environment</key>
		<string>release</string>
		<key>LogLevel</key>
		<string>none</string>
		<key>AppKey</key>
		<string>20000980</string>
		<key>AppSecret</key>
		<string>0e589ef4588b18ab209eaf017fda564e</string>
		<key>UseSecurityGuard</key>
		<false/>
		<key>ChannelID</key>
		<string>1001@POC_iOS_1.0.0</string>
		<key>ACCS</key>
		<dict>
			<key>Host</key>
			<string>accs.emas-poc.com</string>
			<key>DefaultIP</key>
			<string></string>
			<key>DefaultPort</key>
			<integer>0</integer>
			<key>CustomAppVersion</key>
			<string>123</string>
			<key>SlightSSLPublickeyIndex</key>
			<integer>12</integer>
			<key>SupportLocalDnsWhenNoPolicy</key>
			<true/>
		</dict>
		<key>Network</key>
		<dict>
			<key>IPStrategy</key>
			<dict>
				<key>1emaspoc-acs.emas-ha.cn</key>
				<array>
					<dict>
						<key>ip</key>
						<string>1.1.1.1</string>
						<key>port</key>
						<string>80</string>
						<key>publickey</key>
						<string>emas</string>
					</dict>
				</array>
			</dict>
			<key>EnableAMDC</key>
			<false/>
			<key>CanInitWithRequest</key>
			<false/>
		</dict>
		<key>MTOP</key>
		<dict>
			<key>Domain</key>
			<string>aserver.emas-poc.com</string>
			<key>APIDomain</key>
			<string>gw.emas-poc.com</string>
		</dict>
		<key>ZCache</key>
		<dict>
			<key>URL</key>
			<string>http://cdn.emas-poc.com/eweex/</string>
		</dict>
		<key>HA</key>
		<dict>
			<key>RSAPublicKey</key>
			<string></string>
			<key>OSSBucketName</key>
			<string>emas-ha-remote-log-poc</string>
			<key>UploadType</key>
			<string></string>
			<key>ServiceID</key>
			<string>emas-ha</string>
			<key>UniversalHost</key>
			<string>adash.emas-poc.com</string>
			<key>TimestampHost</key>
			<string>aserver.emas-poc.com</string>
		</dict>
		<key>Hotfix</key>
		<dict>
			<key>URL</key>
			<string>aserver.emas-poc.com</string>
		</dict>
		<key>RemoteConfig</key>
		<dict>
			<key>Domain</key>
			<string>aserver.emas-poc.com</string>
		</dict>
		<key>UseHTTP</key>
		<true/>
	</dict>
</dict>
</plist>
